
.cartao-pokemon{
    display: none;
    box-shadow: rgba(100,100,111, 0.2)0px 7px 29px 0px;
    border-radius: 15px;
}

.cartao-pokemon .cartao-topo{
    padding: 20px 40px 0;
    
}

.cartao-pokemon .nome{
    margin-bottom: 10px;
}

.cartao-pokemon .tipo{
    font-size: 12px;
    background-color: #fff;
    opacity: 0.7;
    border-radius: 15px;
    padding: 2px 10px;
    box-shadow: rgba(100,100,111, 0.2)0px 7px 29px 0px;
}

.cartao-pokemon .detalhes{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartao-pokemon .cartao-imagem{
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}   

.cartao-pokemon img{
    max-height: 100%;

}

.cartao-informacao{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px 30px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
}

.cartao-pokemon .cartao-informacao h3{
    font-size: 17px;
    margin-bottom: 15px;
    border-bottom: 1px solid #6B727A;
}

.cartao-pokemon .cartao-informacao .status, .cartao-pokemon .cartao-informacao .habilidades{
    padding: 0 8px;
    width: 180px;

}

.cartao-pokemon .cartao-informacao .status ul li, .cartao-pokemon .cartao-informacao .habilidades ul li{
    border-bottom: 1px solid #ccc;
    padding: 0 0 5px;
    margin-bottom: 5px;
    font-size: 10px;
}

.cartao-pokemon.aberto{
    display: block;
}

.tipo-fogo{
    background-color: #ed8a8d;
}

.tipo-agua{
    background-color: bisque;
}

.tipo-eletrico{
    background-color: #fcc719;
}

.tipo-agua{
    background-color: #76befe;
}

.tipo-grama{
    background-color: #49d0b0;
}

.tipo-fantasma{
    background-color:#ba68c8;
}

.tipo-dragao{
    background-color: #c29791;
}
